<app-center-modal *ngIf="showModal">
  <header class="modal-header">
    <button class="modal-header__back-btn" (click)="closeModal()">
      <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      <span class="visually-hidden">Voltar</span>
    </button>
    <button class="modal-header__edit-btn">Editar perfil</button>
  </header>
  <main class="modal-content">
    <div class="profile-info">
      <img src="../../../assets/icons/profile-user.png" alt="Ícone de perfil">
      <input disabled [value]="currentUser?.nome || ''" aria-label="Nome do usuário">
      <div class="profile-info__divider"></div>
      <p>Cliente</p>
    </div>
    <form class="user-details">
      <fieldset disabled>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" id="name" value="{{currentUser?.nome || ''}}" aria-label="Nome do usuário">
        </div>
        <div class="form-group
      </fieldset>
    </form>
  </main>
  <footer class="modal-footer">
    <button class="modal-footer__save-btn">Salvar</button>
  </footer>
</app-center-modal>

<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__logo">
      <img src="../../../assets/icons/logo.png" alt="Logo da empresa">
    </div>
    <div class="navbar__greeting">
      <p>Olá, <strong>{{currentUser?.nome}}</strong>!</p>
    </div>
    <div class="navbar__actions">
      <ul>
        <li>
          <button (click)="openModal()" aria-label="Editar perfil">
            <img src="../../../assets/icons/profile-user.png" alt="Ícone de perfil">
          </button>
        </li>
        <li>
          <button (click)="logOut()" aria-label="Sair">
            <img src="../../../assets/icons/log-out.png" alt="Ícone de saída">
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>